.box{
    border:1px solid black;
}

.box1{
    width:80%;
    height:100px;
    background-color: red;

}
 .box2{
    width:50%;
    height:100px;
    background-color: blue;

 }

 .box3{
    width:30%;
    height:100px;
    background-color: yellow;
 }